<html>
    <head></head>
    <body>
        <h2>Hello,</h2>
        <p>The load <b>{{ name }}</b>, created by <b>{{ email }}</b>, was assigned to you!</p>
        <p>Pickup address: {{ pickupAddress }}</p>
        <p>Delivery address: {{ deliveryAddress }}</p>
        <p>Payload: {{ payload }}</p>
        <p>Width: {{ width }}</p>
        <p>Height: {{ height }}</p>
        <p>Length: {{ length }}</p>

        <p>Good luck, <br> The Just-In-Time Delivery Team</p>
    </body>
</html>